  .carousel__wrap {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
      position: relative;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .carousel__slide-list {
      left: 50%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      transform: translateX(-50%);
      width: calc(330rem);
  }
  
  .carousel__slide-item {
      position: absolute;
      width: 100%;
      max-width: 365px;
  }
  
  .carousel__btn {
      top: 50%;
      transform: translateY(-50%);
      z-index: 990;
  }
  
